.header {
  background-color: $red;
  margin-bottom: 2em;
}

.card {
  height: 300px;
  width: 300px;
}

.image {
  margin: auto;
  max-height: 280px;
  max-width: 280px;
}
.margin-bottom {
  margin-bottom: 16px;
}
